<div class="row">
	<section class="main col-md-12">
		<article>
			<h2>Yuansheng Lu - "the developer"</h2>
			<p>Hi, There</p>
			<p>My name is Yuansheng Lu and I'm currently studying Computer Programming and Analysis at Seneca College. I am very interesting in all technologies related to HTML, JavaScript and CSS and I am currently in the process of mastering the MEAN stack. It's my goal to become a full-stack JavaScript developer and continue to learn and expand my experience to include all the new dev tools, environments, libraries, workflows and design methodologies available to the full-stack/MEAN developer community.</p>
			<p>Enjoy browsing my app! - If you have any questions, I can be found at <a href="mailto:ylu140@myseneca.ca">here</a></p>
			<p>Sincerely,<br /> Yuansheng Lu</p>
		</article>
	</section>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Leave a Comment</h3>
        <form action="/about/addComment" method="POST">
            <div class="well">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Name" name="authorName" />
                        <br />
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" placeholder="Email" name="authorEmail" />
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Subject" name="subject" />
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="8" placeholder="Comment" name="commentText"></textarea>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-10">
                        <button type="submit" class="btn btn-primary form-control">Comment</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{{#if data}}
<div class="row">
    <div class="col-md-12">
        <h3>All Comments</h3>
        <hr />
    </div>
</div>
{{/if}}

{{#each data}}
<div class="row">
    <div class="col-md-12">
        <h4>{{subject}}</h4>
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    {{commentText}}<br /><br />
                    Posted on: {{postedDate}} by <a href="mailto:{{authorEmail}}">{{authorName}}</a><br /><br />
                </div>
            </div>
            {{#each replies}}
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        {{commentText}}<br /><br />
                        Posted on: {{repliedDate}} by <a href="mailto:{{authorEmail}}">{{authorName}}</a><br /><br />
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-sm pull-right" data-toggle="collapse" data-target="#reply-{{_id}}" aria-expanded="false">Reply</button>
                </div>
            </div>
        </div>
            
        <div class="collapse" id="reply-{{_id}}">
            <form action="/about/addReply" method="POST">
                <div class="well">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Name" name="authorName" />
                            <br />
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" placeholder="Email" name="authorEmail" />
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control" rows="8" placeholder="Comment" name="commentText"></textarea>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-10">
                            <input type="hidden" value="{{_id}}" name="comment_id" />
                            <button type="submit" class="btn btn-primary form-control">Reply</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{/each}}

